<h1>Approximate timers</h1>
<div class="timers rift">

<h2>Triteal Rift</h2>
<blockquote>These are unconfirmed as of now</blockquote>
<ul>
  <li>
    <time>2.45am CET</time>
  </li>
  <li>
    <time>6.45pm CET</time>
  </li>
</ul>

</div>

<h1>Spawn locations</h1>
<div class="locations rift">

<h2>Flam</h2>
<div>
  <p>Spawn location: North West | Top left</p>
  <p>Channel order: 1 2 3</p>
</div>

<h2>Ikeria</h2>
<div>
  <p>Spawn location: South East | Bottom right</p>
  <p>Channel order: 3 2 1</p>
</div>

<h2>Faudrus</h2>
<div>
  <p>Spawn location: North East | Top right</p>
  <p>Channel order: 1 3 2</p>
</div>

<h2>Kelsier</h2>
<div>
  <p>Spawn location: South West | Bottom left</p>
  <p>Channel order: 1 2 3</p>
</div>

</div>

<h1>Other information</h1>
<div class="information rift">

  <p>
    Flam seems to have quite a low amount of hp, thus he'll be down very fast.
  </p>

  <p>
    Kelsier on channel 3 will have ~30-50 minutes delay after channel 2 first spawns.<br>
    This might be fixed in the next future update.<br>
    During that time Merciless Jeranin should be spawning at Divinity Shore.
  </p>

</div>
